{% extends 'Base.html' %}
{% block content %} 
<h1 class="text-center display-4 mb-3">POLLS</h1>
{% if user.is_authenticated %}
    <p class="lead " >Hi {{ user.username }}!</p>
    <div class="row">
        <a href="{% url 'logout' %}" class="col-12 btn btn-primary btn-sm">logout</a>
    </div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
    {% if latest_ques_list %}
        {% for question in latest_ques_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead">
                        {{ question.ques_text }}
                        <br>
                        <a href="{% url 'polls:detail' question.id %}"
                        class="btn btn-primary btn-sm">Vote now</a>
                        <a href="{% url 'polls:results' question.id %}"
                        class="btn btn-primary btn-sm">Results</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls available</p>
    {% endif %}
{% endblock %}
 